## K3s - Helm - Traefik
## https://docs.k3s.io/networking/networking-services#traefik-ingress-controller
## https://docs.k3s.io/helm#customizing-packaged-components-with-helmchartconfig

## Instructions:
## copy-to/save-as: /var/lib/rancher/k3s/server/manifests/traefik-config.yaml
## Traefik restarts automatically (after changes). If not, try a hard restart with “sudo systemctl restart k3s” to detect the file.
## check:
## - "kubectl -n kube-system get deployment/traefik -o yaml"
## - "kubectl -n kube-system get daemonset/svclb-traefik-<NUMBER> -o yaml"

---

apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    #image:
    #  repository: rancher/mirrored-library-traefik
    #  tag: 3.5.1
    #  pullPolicy: IfNotPresent
    env:
    - name: TZ
      value: Europe/Berlin
    additionalArguments:
    - "--accesslog.fields.names.StartUTC=drop"
    - "--accesslog=true"
    - "--serversTransport.insecureSkipVerify=true"
    - '--api.insecure=true'
    #- "--log.level=debug"
    - "--entrypoints.web.forwardedheaders.trustedips=10.0.0.0/8"
    - "--entrypoints.websecure.forwardedheaders.trustedips=10.0.0.0/8"
    service:
      spec:
        externalTrafficPolicy: Local
    ports:
      mqtt:
        port: 1883
        expose:
          default: true
        exposedPort: 1883
        protocol: TCP
      mqtts:
        port: 8883
        expose:
          default: true
        exposedPort: 8883
        protocol: TCP
