[Unit]
Description=Docker-Compose Install+Update
After=network.target

[Service]
Type=oneshot
User=root
#ExecStartPre=-/usr/bin/sed -i -e 's/\r$//' /root/docker-compose-install.sh
#ExecStartPre=-/bin/chmod +x /root/docker-compose-install.sh
ExecStart=/bin/bash /root/docker-compose-install.sh

[Install]
WantedBy=default.target
